<div class="bg-light m-10 px-25 w-25 text-center">
  <h3>商品一覧</h3>
</div>

<!--商品新規登録-->
<div class="text-right">
  <%= link_to '商品新規登録', new_admin_item_path(@items), class: "btn btn-secondary" %>
</div>

<div class="container">
  <div class="row">
　　<table class='table table-hover table-inverse'>
  　　<thead>
    　　<tr>
      　　<th>商品ID</th>
      　　<th>商品名</th>
     　　 <th>税抜価格</th>
     　　<th>ジャンル</th>
    　　  <th>ステータス</th>
   　　 </tr>
  　　</thead>
  　　<tbody>
    　　<% @items.each do |item| %>
      　　<tr>
     　　　　   <td><%= item.id %></td>
     　　 　　  <td><%= link_to item.name, admin_item_path(item) %></td>
     　　　　   <td><%= number_to_currency(item.price, unit: "", format: "%n%u", strip_insignificant_zeros: true) %></td>
     　　　　   <td><%= item.genre.name %></td>
    　　　　    <td><%= item.is_active %></td>
          </tr>
        <% end %>
      </tbody>
   </table>
  </div>
  <div class='text-center'>
    <%= paginate @items %>
  </div>
</div>
