<div class="bg-light m-5 px-25 w-25 text-center">
  <h3>商品新規登録</h3>
</div>

<!--バリデーション-->
<% if @item.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= @item.errors.count %>Save failed due to an error.</h2>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class='container'>
  <!--<div class='row'>-->
    <%= form_with model:@item, url:'/admin/items', local:true do |f| %>
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>商品画像</p>
        </div>
        <div class="col-xs-5up">
          <%= f.attachment_field :image %>
        </div>
      </div>
      
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>商品名</p>
        </div>
        <div class="col-xs-5up">
          <%= f.text_field :name, placeholder: "商品名" %>
        </div>
      </div>
      
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>商品説明</p>
        </div>
        <div class="col-xs-5up">
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述しましす" %>
        </div>
      </div>
      
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>ジャンル</p>
        </div>
        <div class="col-xs-5up">
          <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--選択してください--"}) %>
        </div>
      </div>
      
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>税抜価格</p>
        </div>
        <div class="col-xs-5up">
          <label><%= f.text_field :price, placeholder: "1000", class: 'money' %>円</label>
        </div>
      </div>
      
      <div class='row mb-1'>
        <div class="col-xs-7up">
          <p>販売ステータス</p>
        </div>
        <div class="col-xs-5up">
          <label><%= f.radio_button :is_active, :false %>販売中</label>
          <label><%= f.radio_button :is_active, :true %>販売停止中</label>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.submit '新規登録', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>
</div>