<div class="bg-light m-5 px-25 w-25 text-center">
  <h3>商品詳細</h3>
</div>

<div class="container">
  <div class="row">
    <!--商品画像-->
    <div class="col-md-3">
      <%= attachment_image_tag @item, :image, size: "200x150", fomat:'jpeg' %>
    </div>
    <%= form_with model:@item, local:true do |f| %>
    
    <div class='row mb-1'>
      <div class="col-md-4">  
        商品名
      </div>
      <div class="col-md-4">
        <%= @item.name %>
      </div>
    </div>
      <div class="form-group">
        <%= f.label "商品詳細" %>
        <%= @item.introduction %>
      </div>
      <div class="form-group">
        <%= f.label "ジャンル" %>
        <%= @item.genre.name %>
      </div>
      <div class="form-group">
        <%= f.label "税込価格" %><br>
        <%= f.label "(税抜価格)" %>
        <%= tax_price(@item.price).to_s(:delimited) %>
        <label>(<%= number_to_currency(@item.price, unit: "", format: "%n%u", strip_insignificant_zeros: true) %>)円</label>
      </div>
      <div class="form-group">
        <%= f.label "販売ステータス" %>
        <%= @item.is_active %>
      </div>
    <% end %>
  </div>
  <div class="form-group text-center">
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
  </div>
</div>