<h3 class="bg-light m-5 px-25 w-25 text-center">商品詳細</h3><br>
      <!--商品画像-->
      <%= attachment_image_tag @item, :image, :fill, 400, 300, fomat:'jpeg' %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= form_with model:@item, local:true do |f| %><br>
      <div class="form-group">
        <%= f.label "商品名" %>
        <%= @item.name %>
      </div>
      <div class="form-group">
        <%= f.label "商品詳細" %>
        <%= @item.introduction %>
      </div>
      <div class="form-group">
        <%= f.label "ジャンル" %>
        <%= @item.genre.name %>
      </div>
      <div class="form-group">
        <%= f.label "税込価格" %><br>
        <%= f.label "(税抜価格)" %>
        <%= tax_price(@item.price).to_s(:delimited) %>
        <label>(<%= number_to_currency(@item.price, unit: "", format: "%n%u", strip_insignificant_zeros: true) %>)円</label>
      </div>
      <div class="form-group">
        <%= f.label "販売ステータス" %>
        <%= @item.is_active %>
      </div>
    <% end %>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
  </div>
</div>