<h3><%= @customer.name %>さんの会員詳細</h3>

<h2>会員ID</h2>
<p><%= @customer.id %></p>

<h2>氏名</h2>
<h2><%= @customer.last_name %><%= @customer.first_name %></h2>

<p>フリガナ</p>
<p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>

<h2>郵便番号</h2>
<p><%= @customer.postal_code %></p>

<h2>住所</h2>
<p><%= @customer.address %></p>

<h2>電話番号</h2>
<p><%= @customer.telephone_number %></p>

<h2>メールアドレス</h2>
<p><%= @customer.email %></p>

<h2>会員ステータス</h2>
<p><%#= @customer.is_deleted, class: 'success' %></p>

<%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success' %>
<%#= link_to "注文履歴一覧を見る", class: 'btn btn-primary' %>
