<div class="bg-light m-5 px-25 w-25 text-center">
  <h3><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h3>
</div>

<div class="container">
  <%= form_with model:@customer, local:true do |f| %><br>
    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>会員ID</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.id %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>氏名</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.last_name %>
      </div>
      <div class="col-lg-2">
        <%= @customer.first_name %>
      </div>
    </div>
    
    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>フリガナ</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.last_name_kana %>
      </div>
      <div class="col-lg-2">
        <%= @customer.first_name_kana %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>郵便番号</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.postal_code %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>住所</p>
      </div>
      <div class="col-lg-6">
        <%= @customer.address %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>電話番号</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.telephone_number %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>メールアドレス</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.email %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>会員ステータス</p>
      </div>
      <div class="col-lg-2">
        <%= @customer.is_deleted %>
      </div>
    </div>
　<% end %>
    <div class='row mb-1'>
      <div class="col-lg-2">
        <p></p>
      </div>
      <div class="col-lg-2">
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success' %>
      </div>
      <div class="col-lg-4">
        <%= link_to "注文履歴一覧を見る", admin_order_path(@customer.id), class: 'btn btn-primary' %>
      </div>
    </div>
</div>

