<div class="bg-light m-5 px-25 w-25 text-center">
  <h3>注文履歴詳細</h3>
</div>

<div class='container'>
    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>購入者</p>
      </div>
      <div class="col-lg-2">
        <%= link_to admin_customer_path(@order.customer.id) do %>
        <%= @order.customer.last_name %><%= @order.customer.first_name %>
        <% end %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>注文日</p>
      </div>
      <div class="col-lg-2">
        <%= @order.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>配送先</p>
      </div>
      <div class="col-lg-6">
        <label>〒<%= @order.postal_code %></label><%= @order.address %><br>
        <%= @order.name %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>支払方法</p>
      </div>
      <div class="col-lg-2">
        <%= @order.payment_method %>
      </div>
    </div>
    <!--注文ステータス-->
    <%= form_with model:@order, url: admin_order_path, method: :patch, local:true do |f| %>
      <div class='row mb-1'>
        <div class="col-lg-2">
          <p>注文ステータス</p>
        </div>
        <div class="col-lg-6">
          <%= f.select(:status, Order.statuses.keys.to_a) %>
          <%= f.submit '変更',class:"btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
　　</tr>
　</thead>
  <tbody>
　　<% @order_details.each do |order_detail| %>
      <tr>
        <td>
          <%= order_detail.item.name %>
        </td>
        <td>
          <%= tax_price(order_detail.item.price).to_s(:delimited) %>
        </td>
        <td>
          <%= order_detail.amount %>
        </td>
        <td>
          <%= sub_price(order_detail).to_s(:delimited) %>
        </td>
        <td>
          <!--制作ステータス-->
          <%= form_with model:order_detail, url: admin_order_order_detail_path(@order, order_detail), method: :patch, local:true do |f| %>
            <%= f.select(:making_status, OrderDetail.making_statuses.keys.to_a) %>
            <%= f.submit '変更', class:"btn btn-outline-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
   </tbody>
 </table>
 
   <table class="table table-bordered">
    <tbody>
      <tr>
        <th>商品合計</th>
        <td><%= total_price(@order_details).to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %>円</td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= @order.total_payment.to_s(:delimited) %>円</td>
      </tr>
    </tbody>
  </table>