<div class="bg-light m-5 px-25 w-25 text-center">
  <h3>注文履歴詳細</h3>
</div>

<div class='container'>
  <%= form_with model:@order, url: admin_order_path(@order.id), local:true do |f| %>
    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>購入者</p>
      </div>
      <div class="col-lg-2">
        <%= @order.customer_id %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>注文日</p>
      </div>
      <div class="col-lg-2">
        <%= @order.created_at.strftime('%Y/%m/%d') %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>配送先</p>
      </div>
      <div class="col-lg-2">
        <label>〒<%= @order.postal_code %></label><%= @order.address %><br>
        <%= @order.name %>
      </div>
    </div>

    <div class='row mb-1'>
      <div class="col-lg-2">
        <p>支払方法</p>
      </div>
      <div class="col-lg-2">
        <%= @order.payment_method %>
      </div>
    </div>
    
    <!--注文ステータス-->
    <%= form_with model: cart_item, local:true do |f| %>
      <div class='row mb-1'>
        <div class="col-lg-2">
          <p>注文ステータス</p>
        </div>
        <div class="col-lg-2">
          <%= f.collection_select(:status_id, Status.all, :id )%>
          <%= f.submit '変更',class:"btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
　　</tr>
　</thead>
  <tbody>
　　<% @order_detail.each do |order_detail| %>
      <tr>
        <td>
          <%= order_detail.item.name %>
        </td>
        <td>
          <%= tax_price(order_detail.item.price).to_s(:delimited) %>
        </td>
        <td>
          <%= order_detail.amount %>
        </td>
        <!--制作ステータス-->
        <%= form_with model: order_detail, local:true do |f| %>
        <td>
          <%= sub_price(order_detail).to_s(:delimited) %>
        </td>
        <td> 
          <%= f.submit '変更',class:"btn btn-outline-success" %>
        </td>
      </tr>
    <% end %>
   </tbody>
 </table>
 
   <table class="table table-bordered">
    <tbody>
      <tr>
        <th>商品合計</th>
        <td><%= total_price(@order_details).to_s(:delimited) %></td>
      </tr>
      <tr>
        <th>配送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th>ご請求額</th>
        <td><%= @order.total_payment.to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>