<h4 class="bg-light mt-5 ml-5 px-5 w-25 text-center">ジャンル一覧・追加</h4>

<div class="container ml-5">
  <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
    <div class="row pt-5">
      <h6 class="col-2 pt-2 pl-2">ジャンル名</h6>
      <%= f.text_field :name, placeholder:'ジャンル名', class: "col-3 mr-5" %>
      <%= f.submit '新規登録', class: "btn btn-success col-2" %>
    </div>
  <% end %>
</div>

<div class="col-4 pt-5 pl-5">
  <table class="table">
    <thead class="bg-light">
      <tr>
        <th class="pl-5">ジャンル</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td class="pt-3"><%= genre.name %></td>
          <td class="ml-3"><%= link_to '編集する', edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>