<%= form_with model: address, local:true, class: "col-12"  do |f| %>
  <div class="form-group">
    <%= f.label :郵便番号（ハイフンなし）, class: "col-4" %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="form-group">
    <%= f.label :住所, class: "col-4" %>
    <%= f.text_field :address, class: "col-4" %>
  </div>
  <div class="form-group">
    <%= f.label :宛名, class: "col-4" %>
    <%= f.text_field :name %>
    <%= f.submit btn, class: "col-2 offset-2 btn-outline-info"%>
  </div>
<% end %>