<%= form_with model: address, local:true  do |f| %>
  <div class="form-group">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label :postal_code, "宛名" %>
    <%= f.text_field :postal_code %>
  </div>
  <%= f.submit "btn" %>
<% end %>