<div class="container">
　<div class='row'>
   <div class="col-lg-12">


<table class="table table-bordered">
   <thead class="thead-light">
      　<tr class="active">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </thead>
   
    <tbody>
        <tr>
          
        <% @cart_item.each do |cart_item| %>   
            <th>
              <%= attachment_image_tag cart_item.item, :image, size: "20x30", format: 'jpeg', fallback: "no_image.jpg" %>
              <%= cart_item.item.name %>
            </th>
            <td><%= cart_item.item.price %>*1.1</td>
        <% end %>
        
            <td>
              <%= form_with model:@cart_item, local:true do |f| %>
               <%= f.select :amount, [0,1,2,3,4,5,6,7,8,9,10], {include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
               <%= f.submit '変更',class:"btn btn-outline-success" %>
              <% end %>
            </td>
            
        <% @cart_item.each do |cart_item| %>   
            <td> <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, remote: true, class: "btn btn-danger" %></td>
            <td><%= cart_item.item.price %>*<%= cart_item.amount %>*1.1</td>
        <% end %>
        </tr>
    </tbody>  
    
    
    
    
    
    
    
    
       
</table>


</div>
</div>
</div>