<div class="container-fluid">
  <% if @orders.present? %>
  <div class="row">
    <h3 class='col-3 mb-5 mx-auto text-center bg-secondary text-white'>注文履歴一覧</h3>
  </div>
    <table class="table table-sm">
      <thead>
        <tr class="row table-bordered">
          <th class="col-1">注文日</th>
          <th class="col-4">配送先</th>
          <th class="col-2">注文商品</th>
          <th class="col-2">支払い金額</th>
          <th class="col-2">ステータス</th>
          <th class="col-1">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr class="row table-bordered">
            <td class="col-1"><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td class="col-4">
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %><br>
            </td>
            <td class="col-2">
              <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %>
              <% end %>
            </td>
            <td class="col-2"><%= order.total_payment.to_s(:delimited) %>円</td>
            <td class="col-2"><%= order.status %></td>
            <td class="col-1">
              <%= link_to "表示する",order_path(order), class: "btn btn-primary" %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p class="text-danger text-center" style="font-size: 20px;">注文履歴はまだありません</p>
  <% end %>

</div>