<h4 class="bg-light mt-5 ml-5 px-5 w-25 text-center">ログイン</h4>

<div class="ml-5">
  <h6 class="bg-light mt-5 ml-5 w-25 text-center">会員の方はこちらからログイン</h6>
</div>

<div class="container">
  <%= form_with model: @customer, url: customer_session_path, local:true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field pt-5 text-center">
    <%= f.label :email, 'メールアドレス', class: "mx-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4" %>
  </div>

  <div class="field mt-3 mb-4 text-center">
    <%= f.label :password, 'パスワード', class: "ml-3 mr-5" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
  </div>

  <div class="actions text-center mr-5">
    <%= f.submit "ログイン", class: 'btn btn-primary col-2' %>
  </div>
<% end %>

<div class="pt-5 pr-5">
<h6 class="bg-light w-25 text-center mr-5">会員登録がお済みでない方</h6>
</div>

<p class="pt-2 ml-5"><u><%= link_to "こちら", new_registration_path(resource_name) %></u>から新規登録を行ってください。</p>
</div>