<td><%= link_to "ヘッダー", edit_customers_path,class: "btn btn-outline-dark"%></td>
<td><%= link_to "カートに入れる", edit_customers_path,class: "btn btn-success"%></td>
<td><%= link_to "カートを空にする", edit_customers_path,class: "btn btn-danger"%></td>
<td><%= link_to "買い物を続ける", edit_customers_path,class: "btn btn-primary"%></td>


<div class="container">
  <div class='row'>
  <h2>  商品一覧</h2> <h5>（全<%= @items.count %>件）</h5>
   <div class="col-lg-4">
     <% @items.each do |item| %>
         <%= link_to item_path(item.id) do %>
          <%= attachment_image_tag item, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
         <% end %>
      <p><%= item.name %></p>
      <p> ¥<%= item.price %>*1.1</p>
     <% end %>
    </div>
   </div>
   <div class='row'>
    <%= paginate @items %>
   </div>
  </div>
   