    <%= attachment_image_tag item, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
    <p><%= item.name %></p>
    <p><%= item.introduction %></p>
    <p> "¥"<%= item.price %>*1.1"（税込）"</p>
    
    <%= form_with model:@cart_item, local:true do |f| %>
    <%= form_with model:@cart_item, url:'/cart_items' local:true do |f| %>
    <%= form_with(model:[@item, @cart_item], local:true) do |f| %>
      <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
      <%= f.submit 'カートに入れる',class:"btn btn-outline-success" %>
    <% end %>
    
    <%= form_with(model: @cart_item(item:id), local:true) do |f| %>
      <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
      <%= f.select 属性, 選択肢の集合, {オプション}, {HTMLオプション} %>
      <%= f.select :sex, {'男性': 1, '女性': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      <%= f.submit 'カートに入れる' %>
    <% end %>